<h1>Client list!</h1>

#if ($clients)
  <ul>
    #foreach ($client in $clients)
      <li><a href="/clients/$client.getId()">$client.getFirstname()</a></li>
    #end
  </ul>
#else
  <p>No client!</p>
#end

<a href="/clients/new">Add New Client</a>
